/* add font */

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300&display=swap");

/* default styles */

*,
*:after,
*:before,
*:hover {
  margin: 0;
  padding: 0;
  border: none;
  outline: none !important;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(231, 231, 231);
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
  color: #000000;
}
li {
  list-style: none;
}

/* ordered styles */

/* rooms btn style */

.rooms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-btn {
  padding: 0.4rem 0.6rem;
  margin: 0.2rem 0.5rem;
  border-radius: 1rem;
  background: rgba(123, 0, 255, 0.637);
  background: linear-gradient(
    299deg,
    rgba(123, 0, 255, 0.616) 35%,
    rgba(0, 212, 255, 1) 100%,
    rgba(9, 9, 121, 0.74) 80%
  );
  letter-spacing: 0.8px;
}
.room-btn:hover,
.room-active {
  animation: shadow 0.4s ease 0s infinite alternate forwards;
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 5px 2.4px rgba(123, 0, 255, 0.527);
  }
  100% {
    box-shadow: 0 0 4px 1px rgba(123, 0, 255, 0.473);
  }
}

/* chat messages container style */

.chat-messages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 20rem;
  margin: 2rem 0;
  background: rgb(188, 198, 255);
  border-radius: 1rem;
  box-shadow: 0 0 4px 1px rgb(146, 162, 255);
}
.message-display {
  width: 100%;
  max-height: 82%;
  padding: 0 1rem 1rem;
  margin-top: 1rem;
  overflow-y: auto;
}
.message-display::-webkit-scrollbar {
  display: none;
}
/* chat messages style */

.message {
  position: relative;
  padding: 1.5rem 3rem 0.7rem 0.6rem;
  background-color: #8da0ff;
  width: max-content;
  max-width: 17rem;
  min-width: 8rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  margin-top: 1rem;
  line-break: auto;
}

.message-username {
  position: absolute;
  top: 2px;
  left: 8px;
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  border-bottom: 0.2px solid #0000001f;
}
.message-time {
  position: absolute;
  bottom: 1px;
  right: 14px;
  font-size: 11px;
}

/* chat message inputs style */

#send-btn,
#message-input {
  height: 2rem;
  padding: 0.1rem;
}

#message-input {
  width: 17rem;
  margin-left: -2rem;
  padding: 0.1rem 1rem;
  border-radius: 1rem 0 0 1rem;
}
#send-btn {
  position: absolute;
  width: 2rem;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.5s ease;
  background: rgb(255, 255, 255);
}
#send-btn:hover {
  background: rgba(0, 140, 255, 0.5);
}
